* {
    margin: 0;
}

body, html {
    background: linear-gradient(180.00deg, rgba(255, 255, 255, 0.7), rgba(17, 222, 4, 0.7) 100%);
    font-family: 'Bahnschrift', serif;
    font-size: larger;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

header {
    padding: 10px 20px;
}

header nav a {
    color: #231c1c;
    text-decoration: none;
    margin: 0 15px;
    font-size: 20px;
    position: relative;
    left: 1300px;
    top: 20px;
}

header nav a:hover {
    text-decoration: none;
}

button {
    border-radius: 90px;
    padding: 10px;
    background: rgb(135, 223, 113);
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
    font-family: 'Bahnschrift', serif;
    font-size: larger;
}

button:hover {
    background: rgb(41, 150, 10);
}

.info-container {
    width: 60%;
    margin: 20px;
    padding: 20px;
    background: rgba(158, 215, 178, 0.49);
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(44, 43, 43, 0.62);

}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(80, 82, 82, 0.76);
}

.modal-content {
    background-color: #fefefe;
    border-radius: 10px;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
    height: 100%;
    max-width: 500px;
    position: relative;
    left: 400px;
    bottom: 400px;
    text-align: center;
}

.close {
    color: #b90101;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}